.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 12px;
}

i {
  color: #006bfc;
  font-size: 12px;
}

.bgimg {
  height: 70vh;
  background-image: url(https://imglf3.lf127.net/img/a485551f7831b0ac/ZXZWRWorSEZ6ZU9LVFdXZmpVM0ZUVENuTjBWMXdoK01CV3ZpbTRLV2FOWT0.png?imageView&thumbnail=1000x0&type=png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 96px;
  backface-visibility: hidden;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .bgimg {
    margin-bottom: 40px;
  }
}

.bgimg video {
  width: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .bgimg video {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .bgimg {
    background-image: url(https://imglf5.lf127.net/img/46da05d7fc1c1a13/ZXZWRWorSEZ6ZU9LVFdXZmpVM0ZUYWY5TG5SSFlLZEN1TVRuSkRXRnlIaz0.png?imageView&thumbnail=1000x0&type=png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
  }
}

.bgimg .headlinebox {
  width: 90%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.bgimg .headlinebox .headline {
  font-size: 48px;
  font-weight: 400;
  color: #000;
  line-height: 67px;
  letter-spacing: 4px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.bgimg .headlinebox .headline-sub {
  font-size: 18px;
  font-weight: 100;
  color: #000;
  line-height: 27px;
  letter-spacing: 14px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@media screen and (max-width: 650px) {
  .bgimg .headlinebox {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  .bgimg .headlinebox .headline {
    font-size: 26px;
    line-height: 27px;
    text-align: center;
  }
  .bgimg .headlinebox .headline-sub {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}

.bgimg .introbox {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .bgimg .introbox {
    display: none;
  }
}

.bgimg .introbox .introduction {
  width: 33.3%;
  height: 101px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  max-width: 50%;
  max-height: 50%;
  text-align: center;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgimg .introbox .introduction span {
  display: block;
}

.bgimg .introbox .introduction span:first-child {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 12px;
  font-weight: 600;
}

.bgimg .introbox .introduction span:last-child {
  font-size: 14px;
  line-height: 20px;
}

.aboutus {
  margin: 0 auto;
  margin-bottom: 96px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .aboutus {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 960px) and (min-width: 375px) {
  .aboutus {
    margin-top: -40px;
  }
}

.aboutus .flex-moible {
  display: none;
}

.aboutus .aboutus_content {
  width: 52%;
}

.aboutus .aboutus_content p {
  font-size: 16px;
  color: #999;
  line-height: 22px;
  margin-bottom: 5%;
}

.aboutus .aboutus_content button {
  display: block;
  width: 162px;
  height: 48px;
  background-color: #2192fb;
  color: #fff;
  border: 0px;
  margin-bottom: 7%;
}

.aboutus .aboutus_content ul {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.aboutus .aboutus_content ul li {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.aboutus .aboutus_content ul li h1 {
  margin-bottom: 4px;
}

.aboutus .aboutus_content ul li span {
  font-size: 14px;
  color: #999;
}

.aboutus .aboutus_img {
  width: 44%;
  background-image: url(/img/icon/aboutus_company.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 660px) {
  .aboutus {
    display: flex;
    flex-direction: column;
  }
  .aboutus .flex-moible {
    display: block;
  }
  .aboutus .aboutus_content {
    order: 3;
    width: 100%;
  }
  .aboutus .aboutus_content i,
  .aboutus .aboutus_content h1,
  .aboutus .aboutus_content button,
  .aboutus .aboutus_content ul {
    display: none;
    background: red;
  }
  .aboutus .aboutus_img {
    order: 1;
    width: 100%;
    height: 374px;
    background-image: url(/img/icon/aboutus_company.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: block;
    margin-bottom: 16px;
  }
}

.supportbox {
  margin: 0 auto;
  width: 90%;
}

.supportbox .first_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.supportbox .first_title h1 {
  margin-bottom: 1%;
}

.supportbox .first_title span {
  font-size: 12px;
  color: #999;
  display: block;
}

@media screen and (max-width: 490px) {
  .supportbox .first_title span {
    display: none;
  }
}

.supportbox .supportcard_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.supportbox .supportcard_line .supportcard {
  width: 48%;
  padding: 12px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 4%;
}

.supportbox .supportcard_line .supportcard img {
  width: 22%;
}

.supportbox .supportcard_line .supportcard .font_box {
  margin-left: 12px;
}

.supportbox .supportcard_line .supportcard .font_box h2 {
  font-weight: bold;
  margin-bottom: 8px;
}

.supportbox .supportcard_line .supportcard .font_box p {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 830px) {
  .supportbox .supportcard_line .supportcard {
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    padding: 0;
  }
  .supportbox .supportcard_line .supportcard img {
    width: 16%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-1px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
