.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 12px;
}

i {
  color: #006bfc;
  font-size: 12px;
}

.layout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media screen and (max-width: 700px) {
  .layout {
    margin-top: 20px;
  }
}

.layout .aside {
  display: flex;
  flex-direction: column;
  width: 35.5%;
}

.layout .aside .repairbox,
.layout .aside .servicebox {
  box-sizing: border-box;
  width: 100%;
  background-color: #f5f5f5;
  margin-bottom: 48px;
  padding: 11%;
}

.layout .aside .repairbox .boxtitle,
.layout .aside .servicebox .boxtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.layout .aside .repairbox .boxtitle span,
.layout .aside .servicebox .boxtitle span {
  font-size: 40px;
  color: #006bfc;
  margin-bottom: 24px;
}

.layout .aside .repairbox .boxtitle h1,
.layout .aside .servicebox .boxtitle h1 {
  font-size: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 25px;
  margin-bottom: 0px;
}

.layout .aside .repairbox .helptext,
.layout .aside .servicebox .helptext {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 22px;
  margin-bottom: 24px;
}

.layout .aside .repairbox .subhead,
.layout .aside .servicebox .subhead {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.layout .aside .repairbox .servicetime,
.layout .aside .servicebox .servicetime {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 22px;
  margin-bottom: 30px;
}

.layout .aside .repairbox button,
.layout .aside .servicebox button {
  background-color: #fff;
  border: solid #006bfc;
  width: 120px;
  height: 48px;
  margin: 0px auto;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
  .layout .aside {
    flex-direction: column;
    width: 100%;
  }
  .layout .aside .repairbox,
  .layout .aside .servicebox {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
  }
  .layout .aside .repairbox .boxtitle,
  .layout .aside .servicebox .boxtitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
  }
  .layout .aside .repairbox .boxtitle span,
  .layout .aside .servicebox .boxtitle span {
    font-size: 40px;
    color: #006bfc;
    display: block;
    margin-bottom: 0px;
  }
  .layout .aside .repairbox .boxtitle h1,
  .layout .aside .servicebox .boxtitle h1 {
    font-size: 18px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 25px;
    display: block;
    margin-bottom: 0px;
    padding: 0 0 0 10px;
  }
}

.main {
  width: 60%;
  height: 300px;
}

.main .boxtitle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.main .boxtitle span {
  font-size: 40px;
  color: #006bfc;
  display: block;
}

.main .boxtitle h1 {
  font-size: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 25px;
  display: block;
  margin-bottom: 0px;
  padding: 0 0 0 10px;
}

@media screen and (max-width: 700px) {
  .main {
    width: 100%;
  }
}

.main .container {
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
}

.main .container ul {
  list-style: none;
  padding: 0;
}

.main .dropdown {
  position: relative;
}

.main .dropdown a {
  text-decoration: none;
}

.main .dropdown [data-toggle="dropdown"] {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 24px 0;
  border-top: #d6d6d6 1px solid;
}

.main .dropdown [data-toggle="dropdown"] *:hover {
  color: red;
}

.main .dropdown [data-toggle="dropdown"]:before {
  position: absolute;
  display: block;
  font-family: "iconfont";
  content: "\e60a";
  font-size: 24px;
  color: #000;
  right: 0;
  top: 24px;
}

@media screen and (min-width: 700px) {
  .main .dropdown:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #006bfc;
    animation: mymove 0.4s ease-out;
    -moz-animation: mymove 0.4s ease-out;
    -webkit-animation: mymove 0.4s ease-out;
  }
}

.main .dropdown > .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main .dropdown > .dropdown-menu li {
  padding: 0;
}

.main .dropdown > .dropdown-menu li a {
  display: block;
  background: #fff;
  font-weight: 400;
  color: #000;
  line-height: 20px;
  font-size: 14px;
  padding: 24px 0;
}

.main .dropdown > .dropdown-menu li span {
  background: #fff;
  font-weight: 400;
  color: #999;
  line-height: 17px;
  font-size: 12px;
}

.main .dropdown > input[type="checkbox"] {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main .dropdown :checked ~ .dropdown-menu {
  max-height: 9999px;
  display: block;
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
}

.main .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"] {
  color: #006bfc;
  font-weight: 600;
  border-bottom: 2px blue solid;
}

.main .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
  color: #006bfc;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

@keyframes mymove {
  100% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
  0% {
    width: 0%;
  }
}
